name: Add header

on:
  workflow_dispatch: # Allow manually running
  push:
    branches:
      - main

jobs:
  build:
    name: Add headers
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        token: ${{ secrets.PAT }}
    
    - name: Add header action step
      uses: minituff/add-header-action@v1 # Change this to be the latest version, SHA, or branch name
      with:
        dry-run: true
        verbose: true
        file-name: .headerrc.yml
      env:
        FORCE_COLOR: "1" # Optional: Shows color output in GitHub console.

    - name: Commit changes back to repo
      uses: stefanzweifel/git-auto-commit-action@v7
      with:  # Token comes from actions/checkout
        commit_message: Add Header
       
 
